@using System.Security.Claims;
@{
    Layout = "_LayoutChat";
}
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<!-- Main Content -->
@if (!string.IsNullOrEmpty(ViewBag.conv))
{
    <div class="main main-visible overflow-hidden h-100">
<div name="chatCon" class="chat d-flex flex-row h-100">
    <!-- Chat -->
    <div class="chat-body h-100 w-100 d-flex flex-column">
        <!-- Chat Header -->
        <div class="chat-header d-flex align-items-center border-bottom px-2">
            <div class="container-fluid">
                <div class="row align-items-center g-0">
                    <div class="col-8 col-sm-5">
                        <div id="topBar" class="d-flex align-items-center">
                            <!-- Close Chat Button -->
                            <div class="d-block d-xl-none me-3">
                                <button class="chat-hide btn btn-icon btn-base btn-sm" type="button">
                                    <i class="ri-arrow-left-s-line"></i>
                                </button>
                            </div>
                            <!-- Close Chat Button -->

                            <!-- Avatar -->
                                    @if (!string.IsNullOrEmpty(ViewBag.clId))
                                    {
                                        <div class="avatar avatar-away avatar-sl me-3" id="child@(ViewBag.clId)">
                                            <img class="avatar-img" src="/img/@ViewBag.avatar" alt="Image description">
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="avatar avatar-online avatar-sl me-3" >
                                            <img class="avatar-img" src="/img/@ViewBag.avatar" alt="Image description">
                                        </div>
                                    }                               
                                
                            <!-- Avatar -->

                            <!-- Text -->
                            <div class="flex-grow-1 overflow-hidden">
                                <h6 class="d-block text-truncate mb-1">@ViewBag.chatname</h6>
                                <p id="uststime" class="d-block text-truncate text-gray-600 fs-6 mb-0">Active</p>
                            </div>
                            <!-- Text -->
                        </div>
                    </div>
                    <div class="col-4 col-sm-7">
                        <ul class="list-inline text-end mb-0">
                            <!-- Search Button -->
                            
                            <!-- Search Button -->

                            <!-- Chat Info Button -->
                            <li class="list-inline-item d-none d-sm-inline-block">                                
                                <button id="chatinfo" class="chat-info-toggle btn btn-icon btn-base" type="button" title="Chat info"  data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <i class="ri-user-3-line"></i>
                                </button>
                            </li>
                            <!-- Chat Info Button -->

                            <!-- Dropdown -->
                           
                            <!-- Dropdown -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Chat Header -->

        <!-- Chat Search -->
        <div>
            <div class="border-bottom collapse" id="search-chat">
                <div class="px-1 py-4">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-lg" placeholder="Search in chat" aria-label="Search in chat" aria-describedby="search-in-chat-button">
                                    <button class="btn btn-white btn-lg border" type="button" id="search-in-chat-button"><i class="ri-search-line"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Chat Search -->

        <!-- Chat Content -->
        <div id="mainCon" class="chat-content hide-scrollbar h-100">
            <!-- Messages -->                
            <div class="container-fluid g-0 p-4">                   
                <!-- Separator -->
                <div class="separator">
                    <span class="separator-title fs-7 ls-1">Today</span>
                </div>
                <!-- Separator -->
                <div class="message" id="rsChat">
                    @if(ViewBag.messages != null)
                    {
                        foreach (Message item in ViewBag.messages)
                        {
                            <div class="message@(item.Fullname == User.FindFirstValue(ClaimTypes.GivenName) ? " self" : "")">
                                <div class="message-wrap">
                                    <div class="message-item">
                                        <div class="message-content">
                                            <span>@item.Content</span>
                                        </div>
                                        @*<div class="dropdown align-self-center">
                                            <button class="btn btn-icon btn-base btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="ri-more-2-fill"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">
                                                        Edit
                                                        <i class="ri-edit-line"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">
                                                        Share
                                                        <i class="ri-share-line"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">
                                                        Delete
                                                        <i class="ri-delete-bin-line"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>*@
                                    </div>
                                </div>                                
                                <div class="message-info">
                                    <div class="avatar avatar-sm">
                                        <img class="avatar-img" src="/img/@item.Avatar" alt="Image description">
                                    </div>
                                    <div>
                                        <h6 class="mb-0">@item.Fullname</h6>
                                        <small class="text-muted">
                                            @item.MessageDate.ToString("hh:mm tt")
                                            <i class="ri-check-line align-bottom @(item.IsRead ? "text-success" : "") fs-5"></i>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                        
                </div>
                <!-- Message 3 -->
                                 
                <!-- Message 3 -->

                <!-- Message 4 -->
                <!-- Message 4 -->

            </div>
            <!-- Messages -->
            <div id="istyping" class="container-fluid p-2">
                <div class="message">
                    <div class="message-wrap">
                        <div class="message-item">
                            <div class="message-content">
                                <div>
                                    Writing
                                    <div class="type-indicator">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Scroll Chat to Bottom -->
            <div class="js-scroll-to-bottom"></div>
            <!-- Scroll Chat to Bottom -->
        </div>
        <!-- Chat Content -->

        <!-- Chat Footer -->
        <div class="chat-footer d-flex align-items-center border-top px-2">
            <div class="container-fluid">
                <form name="frm" method="post">
                <div class="row align-items-center g-4">
                    <!-- Input -->                        
                        <div class="col">
                            <div class="input-group">                               
                                <input id="usertype" type="text" name="content" class="form-control form-control-lg" placeholder="Type message" aria-label="type message"/>
                            </div>
                        </div>
                        <!-- Input -->
                        <!-- Button -->                            
                        <div class="col-auto">
                            <ul class="list-inline d-flex align-items-center mb-0">
                                <li class="list-inline-item">
                                    <button class="btn btn-icon btn-primary btn-lg rounded-circle">
                                        <i class="ri-send-plane-fill"></i>
                                    </button>
                                </li>
                            </ul>
                        </div>                       
                    <!-- Button -->
                </div>
                </form>
            </div>
        </div>
        <!-- Chat Footer -->
    </div>
    <!-- Chat -->

    <!-- Chat Info -->
    <div class="chat-info h-100 border-start">
        <div class="d-flex flex-column h-100">
            <!-- Header -->
            <div class="chat-info-header d-flex align-items-center border-bottom">
                <ul class="d-flex justify-content-between align-items-center list-unstyled w-100 mx-4 mb-0">
                    <!-- Title -->
                    <li>
                        <h3 class="mb-0">User Profile</h3>
                    </li>
                    <!-- Title -->

                    <!-- Close Button -->
                    <li>
                        <button class="chat-info-close btn btn-icon btn-base px-0">
                            <i class="ri-close-line"></i>
                        </button>
                    </li>
                    <!-- Close Button -->
                </ul>
            </div>
            <!-- Header -->

            <!-- Content -->
            <div class="hide-scrollbar h-100">
                <!-- User Info -->
                <div class="text-center p-4 pt-14">
                    <!-- Avatar -->
                    <div class="avatar avatar-xl mb-4">
                        <span class="avatar-label bg-soft-primary text-primary fs-3">AM</span>
                    </div>
                    <!-- Avatar -->

                    <!-- Text -->
                    <h5>Ariel Martinez</h5>
                    <!-- Text -->

                    <!-- Text -->
                    <p class="text-muted fs-6">UX/UI Design</p>
                    <!-- Text -->

                    <!-- Text -->
                    <div class="text-center">
                        <span class="text-muted mb-0">Graphic designer.<br>
                                Working with landing pages and templates.</span>
                    </div>
                    <!-- Text -->
                </div>
                <!-- User Info -->

                <!-- Segmented Control -->
                <div class="text-center mb-2">
                    <ul class="nav nav-pills nav-segmented" id="pills-tab-user-profile" role="tablist">
                        <!-- About -->
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-about-tab" data-bs-toggle="pill" data-bs-target="#pills-about" type="button" role="tab" aria-controls="pills-about" aria-selected="true">About</button>
                        </li>
                        <!-- About -->

                        <!-- Files -->
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-files-tab" data-bs-toggle="pill" data-bs-target="#pills-files" type="button" role="tab" aria-controls="pills-files" aria-selected="false">Files</button>
                        </li>
                        <!-- Files -->
                    </ul>
                </div>
                <!-- Segmented Control -->

                <!-- Tab Content -->
                <div class="tab-content" id="pills-tab-user-profile-content">
                    <!-- About -->
                    <div class="tab-pane fade show active" id="pills-about" role="tabpanel" aria-labelledby="pills-about-tab">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item py-4">
                                <h6 class="mb-1">Name</h6>
                                <p class="text-truncate mb-0">Ariel Martinez</p>
                            </li>
                            <li class="list-group-item py-4">
                                <h6 class="mb-1">Email</h6>
                                <p class="text-truncate mb-0">ariel@gmail.com</p>
                            </li>
                            <li class="list-group-item py-4">
                                <h6 class="mb-1">Phone</h6>
                                <p class="text-truncate mb-0">646-210-1784</p>
                            </li>
                            <li class="list-group-item py-4">
                                <h6 class="mb-1">Location</h6>
                                <p class="text-truncate mb-0">New York, USA</p>
                            </li>
                        </ul>
                    </div>
                    <!-- About -->

                    <!-- Files -->
                    <div class="tab-pane fade" id="pills-files" role="tabpanel" aria-labelledby="pills-files-tab">
                        <ul class="list-group list-group-flush">
                            <!-- File 1 -->
                            <li class="list-group-item py-4">
                                <div class="row align-items-center gx-4">
                                    <!-- Icon -->
                                    <div class="col-auto">
                                        <div class="avatar avatar-sm">
                                            <span class="avatar-label">
                                                <i class="ri-file-line"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <!-- Icon -->

                                    <!-- Text -->
                                    <div class="col overflow-hidden">
                                        <h6 class="text-truncate mb-1">Presentation.pptp</h6>
                                        <ul class="list-inline m-0">
                                            <li class="list-inline-item">
                                                <p class="text-uppercase text-muted mb-0 fs-6">135 KB</p>
                                            </li>

                                            <li class="list-inline-item">
                                                <p class="text-uppercase text-muted mb-0 fs-6">PPTP</p>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Text -->

                                    <!-- Dropdown -->
                                    <div class="col-auto">
                                        <div class="dropdown">
                                            <button class="btn btn-icon btn-base btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="ri-more-fill"></i>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li>
                                                    <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">Download<i class="ri-download-line"></i></a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">Share<i class="ri-share-line"></i></a>
                                                </li>
                                                <li>
                                                    <div class="dropdown-divider"></div>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">Delete<i class="ri-delete-bin-line"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- Dropdown -->
                                </div>
                            </li>
                            <!-- File 1 -->

                            <!-- File 2 -->
                            <li class="list-group-item py-4">
                                <div class="row align-items-center gx-4">
                                    <!-- Icon -->
                                    <div class="col-auto">
                                        <div class="avatar avatar-sm">
                                            <span class="avatar-label">
                                                <i class="ri-file-line"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <!-- Icon -->

                                    <!-- Text -->
                                    <div class="col overflow-hidden">
                                        <h6 class="text-truncate mb-1">Bootstrap.zip</h6>
                                        <ul class="list-inline m-0">
                                            <li class="list-inline-item">
                                                <p class="text-uppercase text-muted mb-0 fs-6">240 KB</p>
                                            </li>

                                            <li class="list-inline-item">
                                                <p class="text-uppercase text-muted mb-0 fs-6">ZIP</p>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Text -->

                                    <!-- Dropdown -->
                                    <div class="col-auto">
                                        <div class="dropdown">
                                            <button class="btn btn-icon btn-base btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="ri-more-fill"></i>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li>
                                                    <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">Download<i class="ri-download-line"></i></a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">Share<i class="ri-share-line"></i></a>
                                                </li>
                                                <li>
                                                    <div class="dropdown-divider"></div>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">Delete<i class="ri-delete-bin-line"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- Dropdown -->
                                </div>
                            </li>
                            <!-- File 2 -->

                            <!-- File 3 -->
                            <li class="list-group-item py-4">
                                <div class="row align-items-center gx-4">
                                    <!-- Icon -->
                                    <div class="col-auto">
                                        <div class="avatar avatar-sm">
                                            <span class="avatar-label">
                                                <i class="ri-image-line"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <!-- Icon -->

                                    <!-- Text -->
                                    <div class="col overflow-hidden">
                                        <h6 class="text-truncate mb-1">Image001.png</h6>
                                        <ul class="list-inline m-0">
                                            <li class="list-inline-item">
                                                <p class="text-uppercase text-muted mb-0 fs-6">475 KB</p>
                                            </li>

                                            <li class="list-inline-item">
                                                <p class="text-uppercase text-muted mb-0 fs-6">PNG</p>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Text -->

                                    <!-- Dropdown -->
                                    <div class="col-auto">
                                        <div class="dropdown">
                                            <button class="btn btn-icon btn-base btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="ri-more-fill"></i>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li>
                                                    <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">Download<i class="ri-download-line"></i></a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">Share<i class="ri-share-line"></i></a>
                                                </li>
                                                <li>
                                                    <div class="dropdown-divider"></div>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">Delete<i class="ri-delete-bin-line"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- Dropdown -->
                                </div>
                            </li>
                            <!-- File 3 -->

                            <!-- File 4 -->
                            <li class="list-group-item py-4">
                                <div class="row align-items-center gx-4">
                                    <!-- Icon -->
                                    <div class="col-auto">
                                        <div class="avatar avatar-sm">
                                            <span class="avatar-label">
                                                <i class="ri-image-line"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <!-- Icon -->

                                    <!-- Text -->
                                    <div class="col overflow-hidden">
                                        <h6 class="text-truncate mb-1">Image002.jpg</h6>
                                        <ul class="list-inline m-0">
                                            <li class="list-inline-item">
                                                <p class="text-uppercase text-muted mb-0 fs-6">365 KB</p>
                                            </li>

                                            <li class="list-inline-item">
                                                <p class="text-uppercase text-muted mb-0 fs-6">JPG</p>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Text -->

                                    <!-- Dropdown -->
                                    <div class="col-auto">
                                        <div class="dropdown">
                                            <button class="btn btn-icon btn-base btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="ri-more-fill"></i>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li>
                                                    <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">Download<i class="ri-download-line"></i></a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">Share<i class="ri-share-line"></i></a>
                                                </li>
                                                <li>
                                                    <div class="dropdown-divider"></div>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">Delete<i class="ri-delete-bin-line"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- Dropdown -->
                                </div>
                            </li>
                            <!-- File 4 -->
                        </ul>
                    </div>
                    <!-- Files -->
                </div>
                <!-- Tab Content -->
            </div>
            <!-- Content -->
        </div>
    </div>
    <!-- Chat Info -->
</div>
</div>

<div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="10000" >
    <div class="toast-header">
      <img src="..." class="rounded me-2" alt="...">
      <strong class="me-auto">Bootstrap</strong>
      <small>5 secs ago</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
          <div>Password have been changed successfully!</div>
    </div>
  </div>
</div>
}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Member in group</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group list-group-flush">
                    <!-- User 1 -->
                    <li  class="list-group-item py-4">
                        <div class="row align-items-center gx-4">
                            <!-- Avatar -->
                            <div class="col-auto">
                                <div class="avatar avatar-sm avatar-online">
                                    <span class="avatar-label bg-soft-success text-success fs-6">JD</span>
                                </div>
                            </div>
                            <!-- Avatar -->
                            <!-- Text -->
                            <div class="col overflow-hidden">
                                <h6 class="text-truncate mb-1">John Davis</h6>
                                <p class="text-success mb-0 fs-6">Online</p>
                            </div>
                            <!-- Text -->                            
                        </div>
                    </li>
                    <!-- User 1 -->
                    
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>                
            </div>
        </div>
    </div>
</div>
<!-- Main Content -->
@section Scripts{
    <link rel="stylesheet" href="/css/styles-light.min.css" />
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/signalr.min.js"></script>    
    <script type="text/javascript">
        const cn = new signalR.HubConnectionBuilder().withUrl("/chathub").build();
        cn.start().then(function () {
            var a = "";            
            if ('@ViewBag.conv' === '') {
                a = '@User.FindFirstValue(ClaimTypes.NameIdentifier)';
            } else {
                a = '@ViewBag.conv';
            }
            cn.invoke("JoinGroup", a).catch(function (err) {
                return console.error(err.toString());
            });
        }).catch(function (err) {
            return console.error(err.toString());
        });
        cn.on("SendMessage", function (user, message) {
            console.log(user + " says " + message);
        });
        ////console.log(cn);
        cn.on('typeStatus',(t)=>{
            if(t == true){
                $('#istyping').show();
            }
            else{
                $('#istyping').hide();
            }            
        });
        $(rsContact).change(function(){
            var a = $('#rsContat a').attr('href');
            var convid = b.substring(b.indexOf("Chat?t=") + 7);
            cn.invoke("JoinGroup",i);
            });
        //cn.on('setStatus',(o)=>{
        //    var a = `avatar avatar-${o.d} avatar-sm me-3`;
        //    $('[ss]').attr('class',a);
        //    var b = `${o.nt}`;
        //    var c = `"d-block text-truncate text-${o.p} fs-6 mb-0"`;
        //    document.getElementById("uststime").innerHTML = b ;
        //    $('#uststime').attr('class',c);
        //});
        cn.on("Creategroup",(o)=>{
            console.log("created group chat");
            $(rsGroup).append(`
                    <li class="card contact-item mb-3">
                                <a id="chatbox" class="contact-link" href="/Chat/Chat?t=${o.convId}"></a>
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                            <!-- Avatar -->
                                <div class="avatar avatar-online me-4">
                                    <img class="avatar-img" src="/img/${o.avatar}" alt="Image description">
                                </div>
                            <!-- Avatar -->
                            <!-- Content -->
                            <div class="flex-grow-1 overflow-hidden">
                                <div class="d-flex align-items-center mb-1">
                                    <h5 class="text-truncate mb-0 me-auto">${o.convname}</h5>
                                    <p id="ltChat${o.convId}" class="small text-muted text-nowrap ms-4 mb-0"></p>
                                </div>
                                <div class="d-flex align-items-center">
                                    <div id="cntChat${o.convId}" class="line-clamp me-auto">
                                     
                                    </div>
                                            <span id="countChat${o.convId}" class="badge rounded-pill bg-primary ms-2"></span>
                                </div>
                            </div>
                            <!-- Content -->
                            </div>
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between overflow-hidden">
                                <p class="mb-0 small text-muted text-nowrap">${o.countMember} Members</p>
                        </div>
                    </li>
            `);
        });
        //<a id="chatbox" class="contact-link" href="/Chat/Chat?t=1B4F1A5DD7AD4BE1BD6B1EEE093656H50B4F1A5DD7AD4BE1BD6B1EEE093656ZC"></a>
        cn.on("Createdirect", (o, n, u) => {
            console.log("Createdirect");
            $(rsContact).append(`
                           <li lt="${o.lastTimeActive}" id="${o.convid}" class="card contact-item active mb-3">
                                                <a id="chatbox" class="contact-link" href="/Chat/Chat?t=${o.convId}"></a>
                                        <div class="card-body">
                                            <div class="d-flex align-items-center">
                                                <div class="avatar avatar-online me-4">
                                                    <img class="avatar-img" src="/img/${o.avatar}" alt="Image description">
                                                </div>
                                                <div class="flex-grow-1 overflow-hidden">
                                                    <div class="d-flex align-items-center mb-1">
                                                                <h5 class="text-truncate mb-0 me-auto">${u == '@User.FindFirstValue(ClaimTypes.NameIdentifier)'? n[0] : n[1]}</h5>
                                                                <p class="small text-muted text-nowrap ms-4 mb-0">${o.messageDate}</p>
                                                    </div>
                                                    <div class="d-flex align-items-center">
                                                        <div id="cntChat" class="line-clamp me-auto">
                                                            
                                                        </div>
                                                        <span id="countChat" class="badge rounded-pill bg-primary ms-2">1</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
            `);
        });
        cn.on('recMsg',(m)=>{
            $(rsChat).append(`
                            <div class="message${m.userId == '@User.FindFirstValue(ClaimTypes.NameIdentifier)' ? " self" : ""}">
                                        <div class="message-wrap">
                                            <div class="message-item">
                                                <div class="message-content">
                                                    <span>${m.content}</span>
                                                </div>                                                
                                            </div>
                                        </div>
                                        <div class="message-info">
                                            <div class="avatar avatar-sm">
                                                <img class="avatar-img" src="/img/${m.avatar}" alt="Image description">
                                            </div>
                                            <div>
                                                <h6 class="mb-0">${m.fullname}</h6>
                                                <small class="text-muted">
                                                                ${m.messageDate}
                                                    <i class="ri-check-double-line align-bottom text-success fs-5"></i>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
            `);
            var b = window.location.href;
            var convid = b.substring(b.indexOf("Chat?t=") + 7);
            timeConvert();
            var textArea = $('#mainCon');
            textArea.scrollTop(textArea[0].scrollHeight);            
            //setT();            
        });
        cn.on('AvatarChanged',(i,u)=>{
            $('li#rlst' +u+ ' img').attr('src','/img/'+i);
        });
        cn.on('ChangedAvatar', (i)=>{
            console.log("ChangedAvatar");
            $('img:first').attr('src','/img/'+i);
        });
        cn.on('recMsgRead', (o) => {
            console.log("Reader");
            console.log(o);
            $("#cntChat" + o.convId).text(o.content);
            var dt = new Date();
            var td = dt.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit', hour12: true });
            $("#ltChat" + o.convId).text(td);
            $("#countChat" + o.convId).text(o.countMessage);
            console.log(count);
        });
        cn.on('recMsgSend', (o) => {
            console.log("Sender");
            console.log(o.messageDate);
            $("#countChat" + o.convId).text("");
            $("#cntChat" + o.convId).text(o.content);
            var dt = new Date();
            var td = dt.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit', hour12: true });
            $("#ltChat" + o.convId).text(td);
        });
        cn.on('messIsRead', (t)=>{
            $('#rsChat i:not(.text-success)').addClass(t);
            var b = window.location.href;
            var convid = b.substring(b.indexOf("Chat?t=") + 7);
            $('ul#rsContact li#' + convid + ' div#countChat').html("");
            $("#countChat" + convid).text("");
            console.log("catch message");
        });
        cn.on('SetNewTime',(t,u)=>{
            $('li#rlst'+u).attr('lt',t);
        });        
        $(frm).submit(function (ev){  
            ev.preventDefault();
            iamActive();
            //setT();
            var b = window.location.href;
            var convid = b.substring(b.indexOf("Chat?t=")+7);
            cn.invoke('Send','@User.FindFirstValue(ClaimTypes.NameIdentifier)', $(frm['content']).val(), convid);
            $('#usertype').val('');
        });
        $(window).on('load', function(){            
            var textArea = $('#mainCon');
            textArea.scrollTop(textArea[0].scrollHeight);           
            var now = new Date();
            $('li[id=@ViewBag.conv]').addClass('active');
            //setT();
            getStatus();
            getGchildStatus();
            getStatusMem();
            $('[ss]').attr('ss', now);
            $('#istyping').hide();
        });
        $(document).ready(function () {
            var a = '@ViewBag.allMem';
            var ar = a.split(";");
            console.log(a);
            setInterval(function () {
                statusClient(ar);
            }, 500);
            setInterval(getStatus,500);
            setInterval(getGchildStatus, 500);
            setInterval(getStatusMem, 500);
        });
        $('div[name=friendtab').change(function(){
            console.log('min changed');
        });
        $('#usertype').keyup(trackType);
        $('button[name=changepwd]').click(function () {
            var op = $(cpwd).val();
            var np = $(npwd).val();
            var rp = $(rpwd).val();
            var m = "";
            var toastm = document.querySelector('#liveToast .toast-body div');
            if (np == rp) {
                $(warnotice).hide();
                console.log('asdas');
                $.post('/home/changepassword', { 'o': op, 'n': np }, (d) => {
                    console.log(d);
                    if (d !== null) {
                        console.log('changed');
                        $('.toast').toast('show');
                        toastm.innerHTML = 'Password have been changed successfully!';
                    }
                    else{
                        toastm.innerHTML = 'Please enter password correctly!';
                    }
                });
            } else {
                toastm.innerHTML = 'Please confirm password correctly!';
            }

        });
        function trackType(){
            var b = window.location.href;
            var convid = b.substring(b.indexOf("Chat?t=") + 7);
            var i = $('#usertype').val();
            cn.invoke('Usertyping', '@User.FindFirstValue(ClaimTypes.NameIdentifier)', convid, i);
        };
        //function trackUser() {
        //    var b = window.location.href;            
        //    var convid = b.substring(b.indexOf("Chat?t=") + 7);
        //    var s = $('ul#rsContact li#' + convid).attr('lt');
        //    console.log(s);
        //    cn.invoke('trackUserStatus', '@User.FindFirstValue(ClaimTypes.NameIdentifier)', convid, s);
        //};
        function timeConvert(){
            var a  = $('#rsChat div:last small').text().trim();
            var dt = new Date(Date.parse(a));
            var ah = dt.getHours();
            var am = dt.getMinutes();
            var ap = ah >= 12 ? 'PM' : 'AM';
            ah = ah % 12;
            ah = ah ? ah : 12;
            ah = ah < 10 ? '0' + ah : ah;
            am = am < 10 ? '0' + am : am;
            var dtc = ah + ':' + am + ' ' + ap;
            var i = '<i class="ri-check-line align-bottom fs-5"></i>';
            dtc=dtc+i;
            $('#rsChat div:last small').html(dtc);
        };
        function minConverter(i){
            var m = parseInt(i) - 1;
            if (m < 60) {
                return m + " minute" + (m === 1 ? "" : "s");
            } else if (m < 1440) {
                return Math.floor(m / 60) + " hour" + (Math.floor(m / 60) === 1 ? "" : "s");
            } else if (m < 43200) {
                return Math.floor(m / 1440) + " day" + (Math.floor(m / 1440) === 1 ? "" : "s");
            } else {
                return Math.floor(m / 43200) + " month" + (Math.floor(m / 43200) === 1 ? "" : "s");
            }          
        };
        function iamActive(){
            var u= '@User.FindFirstValue(ClaimTypes.NameIdentifier)';
            cn.invoke('UserAction',u);
        };
        function getStatus(){   
            var id = '@ViewBag.clId';
            var childImg = $('li#rlst' + id + ' #usrImg').attr('class');
            $('#child'+id).attr('class',childImg+' avatar-sl');
            var childT = $('li#rlst' + id + ' #usrNoti').html();
            $('#topBar #uststime').html(childT);
        };

        function statusClient(ar) {
            for (var i = 0; i < ar.length; i++) {
                var u = ar[i];
                var lta = $('li#rlst' + u).attr('lt');
                var now = new Date();
                var ld = new Date(lta);
                var diffMin = parseInt((now - ld) / 60000);
                if (diffMin > 1) {
                    var r = minConverter(diffMin);
                    $('li#rlst' + u + ' #usrImg').attr('class', 'avatar avatar-away me-4');
                    $('li#rlst' + u + ' #usrNoti').html('Active '+r+' ago');
                } else {
                    $('li#rlst' + u + ' #usrImg').attr('class', 'avatar avatar-online me-4');
                    $('li#rlst' + u + ' #usrNoti').html('Online');
                }
            }
        };
        function getGchildStatus(){
            console.log('Get Gchild')
            var all = '@ViewBag.allMem2';
            var arr = all.split(";");
            for (var i = 0; i < arr.length; i++) {
                var id = arr[i];
                var gchildImg = $('li#rlst' + id + ' #usrImg').attr('class');
                var u = `li[name=gchild]`;
                $("li[name=gchild" +id+ "] div#gc"+id).attr('class', gchildImg + ' avatar-sl');
            }
        };
        function getStatusMem(){
            var a = '@ViewBag.allMem';
            var mem = a.split(";");
            for (var i = 0; i < mem.length; i++) {
                var id = mem[i];
            var childImg = $('li#rlst' + id + ' #usrImg').attr('class');
            $('li#mem' + id + ' #usrImg').attr('class',childImg);            
            var childT = $('li#rlst' + id + ' #usrNoti').html();
                $('li#mem' + id + ' #usrNoti').html(childT);    
            }
        };
        //not use this solution inffective
        @*function setT(){
            var now = new Date();
            var b = window.location.href;
            var convid = b.substring(b.indexOf("Chat?t=") + 7);
            $('ul#rsContact li#' + convid).attr('lt', now);
        };*@
        $(chatinfo).click(function(){
            myModal.show();
        });
        $('#rsChat').click(function (ev) {
            ev.preventDefault();
            console.log("catch even read");
            iamActive();
            var b = window.location.href;
            var c = b.substring(b.indexOf("Chat?t=") + 7);
            cn.invoke('Readmessage', c, '@User.FindFirstValue(ClaimTypes.NameIdentifier)');
        });       
        
    </script>
}